<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/css/css/all.min.css">
  <link rel="icon" href="assets/img/logo.png" type="image/x-icon">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <link rel="stylesheet" href="path_to_css/style.css">
  <link rel="stylesheet" href="path_to_css/sweetalert.css">
  <link rel="stylesheet" href="path_to_css/bootstrap.min.css">
  <link rel="stylesheet" href="path_to_css/atlantis.min.css">
</head>

<body>
  <div class="contenedor">
    <img class="wave" src="path_to_images/wave.png" alt="Wave">
    <div class="img">
      <img src="path_to_images/bg.svg" alt="Background">
    </div>
    <div class="contenido-login">
      <form autocomplete="off" method="POST">
        <img src="path_to_images/logo.png" alt="Logo">
        <h2>Login</h2>
        <div class="input-div nit">
          <div class="i">
            <i class="fas fa-user"></i>
          </div>
          <div class="div">
            <input type="text" name="usuario" autocomplete="off" placeholder="USUARIO">
          </div>
        </div>
        <div class="input-div pass">
          <div class="i">
            <i class="fas fa-lock"></i>
          </div>
          <div class="div">
            <input type="password" name="clave" placeholder="CONTRASEÑA" required>
          </div>
        </div>
        <div class="row" id="load" hidden>
          <div class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-5">
            <img src="path_to_images/coffe-1.jpg" width="100%" alt="Loading">
          </div>
          <div class="col-xs-12 center text-accent">
            <span>Validando información...</span>
          </div>
        </div>
        <button class="btn" type="submit">Iniciar sesión</button>
      </form>
      <div id="msg_error" class="alert alert-danger" role="alert" style="display: none;"></div>
    </div>
  </div>
</body>

</html>
